/* -------------------------------------------------------------------------- */
/* #region: BASE                                                              */
/* -------------------------------------------------------------------------- */

@scope (.avatar) {
  :scope {
    --avatar-size: var(--dim-6);

    border-radius: var(--radius-pill);
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    width: var(--avatar-size);
    height: var(--avatar-size);
  }

  /* Border overlay */
  &::before {
    border-radius: var(--radius-pill);
    box-shadow: inset 0 0 0 1px var(--color-border-neutral);
    content: '';
    pointer-events: none;
    position: absolute;
    inset: 0;
  }

  /* Image */
  :scope > img {
    border-radius: var(--radius-pill);
    object-fit: cover;
    width: 100%;
    height: 100%;
  }


  /* Modifier: size large */
  &.avatar-xl {
    --avatar-size: calc(var(--lh) * 4);
  }
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: MODIFIERS                                                         */
/* -------------------------------------------------------------------------- */

@scope (.avatar:not(:has(img)), .avatar-empty) {
  :scope {
    background: var(--color-gradient-brand);
    color: var(--color-text-inverse);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-shadow: 0 1px 0 var(--color-alpha-light-400);
  }

  /* Initials fallback */
  &::after {
    @mixin text-format fine-print;

    --line-height-fine-print: var(--avatar-size);

    content: attr(data-fallback);
    font-weight: var(--font-weight-strong);
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    inset: 0;
  }
}

/* #endregion */
