/* -------------------------------------------------------------------------- */
/* #region: CONTAINERS                                                        */
/* -------------------------------------------------------------------------- */

.form, form {
  --form-bg: var(--color-bg);
  --form-border-color: var(--color-border-bold);
  --form-border-radius: var(--radius-sm);
  --form-padding-y: 11px;
  --form-padding-x: var(--dim-2);
  --form-disabled-bg: var(--color-bg-02);
  --form-disabled-fg: var(--color-text-03);
  --form-focus-color: var(--color-link);
}

fieldset {
  border: 0;
  border-radius: var(--form-border-radius);
  padding: 0;

  &:not(:last-child) {
    margin-bottom: var(--dim-6);
  }
}

legend {
  font-weight: var(--font-weight-strong);
  overflow-wrap: anywhere;
  margin-bottom: var(--dim-1);
}

label {
  color: var(--color-text);
  display: block;
  font-weight: 500;
  margin-bottom: var(--dim-0plus);
}

form > :is(p, div:not([class])),
form :where(.grid) > p {
  margin-block: 0 var(--dim-2);
  padding: 0;
  position: relative;
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: INPUTS                                                            */
/* -------------------------------------------------------------------------- */

:--text-field {
  appearance: none;
  background-color: var(--form-bg);
  border: 1px solid var(--form-border-color);
  border-radius: var(--form-border-radius);
  color: var(--color-text);
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: var(--form-padding-y) var(--form-padding-x);
  transition: border-color var(--duration-200) var(--easing-disappearance);
  width: 100%;

  &:focus-visible {

    /* Prevent mixing of the semi-transparent border color with the outline color */
    border-color: var(--color-focus);
  }

  &:disabled {
    background-color: var(--form-disabled-bg);
    color: var(--form-disabled-fg);
    cursor: not-allowed;
    opacity: 0.6;
  }
}

textarea {
  resize: vertical;
  min-height: 6rem;
}

select:not([multiple]) {
  background-image: var(--icon-chevron-down);
  background-position: center right var(--dim-1);
  background-repeat: no-repeat;
  background-size: var(--spacer);
  padding-inline-end: var(--dim-6);
  overflow-x: clip;

  /* Hide arrow icon in IE browsers */
  &::-ms-expand {
    display: none;
  }
}

[type='checkbox'],
[type='radio'] {
  cursor: pointer;
  margin: 0;
  width: var(--dim-2plus);
  height: var(--dim-2plus);
}

[type='checkbox'] + label,
[type='radio'] + label {
  cursor: pointer;
  display: inline-block;
  margin-inline-start: var(--dim-1);
  vertical-align: middle;
}

/* #endregion */
