/* -------------------------------------------------------------------------- */
/* #region: BASE                                                              */
/* -------------------------------------------------------------------------- */

@scope (.search) {

  /* form.search */
  :scope {
    position: relative;
  }

  /* Input field */
  input[type='search'] {
    padding-inline: var(--dim-8) var(--dim-1);
    width: 100%;

    &:focus-visible {
      border-color: var(--color-focus);
    }
  }

  /* Submit button */
  button[type='submit'] {
    border-radius: var(--form-border-radius);
    padding: 0 var(--dim-2);
    position: absolute;
    top: 50%;
    inset-inline-start: 0;
    translate: 0 -50%;
  }

  /* Native cancel button (WebKit) */
  input[type='search']::-webkit-search-cancel-button {
    appearance: none;
    background-image: var(--icon-remove);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    width: var(--dim-4);
    height: var(--dim-4);
  }
}

/* #endregion */
