/* -------------------------------------------------------------------------- */
/* #region: BASE                                                              */
/* -------------------------------------------------------------------------- */

/* Text field with validation */
:--text-field:not(:focus):user-invalid,
:--text-field:not(:focus).is-invalid {
  box-shadow: 0 0 0 0.125rem color-mix(in oklch, var(--color-error) 80%, transparent);

  ~ .form-error {
    opacity: 1;
    height: auto;
  }

  ~ .form-hint {
    opacity: 0;
    height: 0;
  }
}

/* Inline error message */
.form-error {
  color: var(--color-text-error);
  display: block;
  opacity: 0;
  margin-block-start: var(--dim-0p5, 0.25rem);
  padding-block: var(--form-error-padding-block);
  padding-inline: var(--form-error-padding-inline);
  transition:
    opacity var(--duration-200) var(--easing-base),
    height var(--duration-200) var(--easing-base);
  height: 0;

  input:focus + & {
    opacity: 1;
    height: auto;
  }
}

/* Show error message when input group has error */
.has-error + .form-error {
  opacity: 1;
  height: auto;
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: SERVER MESSAGE                                                    */
/* -------------------------------------------------------------------------- */

.form-error-box {
  --form-error-box-padding-inline: var(--padding-inline-md, var(--dim-2));

  background-color: var(--color-bg-error);
  border-radius: var(--radius-base);
  color: var(--color-text-error);
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding-block: var(--lh);
  padding-inline: var(--form-error-box-padding-inline);
  transition:
    height var(--duration-500) var(--easing-base),
    opacity var(--duration-500) var(--easing-base);
  transition-behavior: allow-discrete;
  width: 100%;

  &:not(:empty) {
    display: block;
    height: auto;
    margin-block-end: var(--lh);
    opacity: 1;

    @starting-style {
      height: 0;
      opacity: 0;
    }
  }
}

/* #endregion */
