.section {
  margin-top: var(--spacer-xxl);
  padding-block: var(--spacer-lg);
}

.section-header-centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding-bottom: var(--dim-7);
  text-align: center;
  max-width: 622px;
}

.section-header-centered h2 {
  margin-block: var(--dim-1) 0;
}

.section-title {
  color: var(--color-text);
}

