@scope (.tooltip-rich) {

  /* ------------------------------------------------------------------------ */
  /* #region: BASE                                                            */
  /* ------------------------------------------------------------------------ */

  :scope:is(:hover, :focus-visible, :active) {
    overflow: visible;
  }

  .tooltip-bubble {
    background-color: var(--tooltip-bg);
    border-radius: var(--radius-sm);
    color: var(--tooltip-color);
    opacity: 0;
    padding: var(--tooltip-padding);
    pointer-events: none;
    position: absolute;
    transition:
      opacity var(--duration-100) var(--easing-base),
      translate var(--duration-100) var(--easing-appearance);
    visibility: hidden;
    z-index: var(--z-tooltip);
    font-size: var(--font-size-fine-print);
    line-height: var(--line-height-fine-print);
    text-transform: none;
    white-space: normal;
    width: max-content;
    max-width: var(--tooltip-width);
  }

  .tooltip-bubble a {
    color: hsl(var(--h-blue) var(--s-02) 70%);
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: POSITION TOP (DEFAULT)                                          */
  /* ------------------------------------------------------------------------ */

  :scope:not(.tooltip-right, .tooltip-bottom, .tooltip-left) {
    .tooltip-bubble {
      bottom: 100%;
      left: 50%;
      translate: -50% var(--lh);
    }

    .tooltip-bubble::after {
      border: var(--tooltip-arrow-width) solid transparent;
      border-top-color: var(--tooltip-bg);
      content: '';
      position: absolute;
      bottom: calc(-1 * var(--tooltip-arrow-width));
      left: 50%;
      translate: -50% 0;
      width: 0;
      height: 0;
    }

    &:hover .tooltip-bubble,
    &:focus-visible .tooltip-bubble,
    &:active .tooltip-bubble {
      opacity: 1;
      pointer-events: auto;
      translate: -50% calc(var(--tooltip-arrow-width) * -1);
      visibility: visible;
    }
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: POSITION BOTTOM (MOBILE FALLBACK FOR SIDES)                     */
  /* ------------------------------------------------------------------------ */

  :scope.tooltip-bottom,
  :scope.tooltip-left,
  :scope.tooltip-right {
    .tooltip-bubble {
      top: 100%;
      left: 50%;
      translate: -50% calc(var(--lh) * -1);
    }

    .tooltip-bubble::after {
      border: var(--tooltip-arrow-width) solid transparent;
      border-bottom-color: var(--tooltip-bg);
      content: '';
      position: absolute;
      top: calc(-1 * var(--tooltip-arrow-width));
      left: 50%;
      translate: -50% 0;
      width: 0;
      height: 0;
    }

    &:hover .tooltip-bubble,
    &:focus-visible .tooltip-bubble,
    &:active .tooltip-bubble {
      opacity: 1;
      pointer-events: auto;
      translate: -50% var(--tooltip-arrow-width);
      visibility: visible;
    }
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: POSITION LEFT (DESKTOP/TABLET)                                  */
  /* ------------------------------------------------------------------------ */

  :scope.tooltip-left {
    @media (--tablet) {
      .tooltip-bubble {
        top: 50%;
        right: 100%;
        left: auto;
        translate: var(--lh) -50%;
      }

      .tooltip-bubble::after {
        border: var(--tooltip-arrow-width) solid transparent;
        border-left-color: var(--tooltip-bg);
        top: 50%;
        right: calc(-1.5 * var(--tooltip-arrow-width));
        left: auto;
        translate: 0 -50%;
      }

      &:hover .tooltip-bubble,
      &:focus-visible .tooltip-bubble,
      &:active .tooltip-bubble {
        translate: calc(var(--tooltip-arrow-width) * -1) -50%;
      }
    }
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: POSITION RIGHT (DESKTOP/TABLET)                                 */
  /* ------------------------------------------------------------------------ */

  :scope.tooltip-right {
    @media (--tablet) {
      .tooltip-bubble {
        top: 50%;
        left: 100%;
        translate: calc(var(--lh) * -1) -50%;
      }

      .tooltip-bubble::after {
        border: var(--tooltip-arrow-width) solid transparent;
        border-right-color: var(--tooltip-bg);
        top: 50%;
        right: auto;
        left: calc(-1 * var(--tooltip-arrow-width));
        translate: 0 -50%;
      }

      &:hover .tooltip-bubble,
      &:focus-visible .tooltip-bubble,
      &:active .tooltip-bubble {
        translate: var(--tooltip-arrow-width) -50%;
      }

      /* Lower neighbor below tooltip to prevent overlap */
      & ~ * {
        z-index: -1;
      }
    }
  }

  /* #endregion */

}

/* #endregion */
