/* Add the utility .w-fit when a tooltip wraps inline elements. */
.tooltip,
.tooltip-rich {
  --tooltip-bg: hsl(var(--h) var(--s-min) 16%);
  --tooltip-color: hsl(0 0% 100% / 0.87);
  --tooltip-arrow-width: var(--dim-1);
  --tooltip-padding: var(--spacer);
  --tooltip-width: var(--width-sm);

  position: relative;
}

.tooltip {
  &::before,
  &::after {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition:
      opacity var(--duration-100) var(--easing-base),
      translate var(--duration-100) var(--easing-appearance);
    visibility: hidden;
  }

  &::after {
    background-color: var(--tooltip-bg);
    border-radius: var(--radius-sm);
    color: var(--tooltip-color);
    content: attr(data-tooltip);
    font-size: var(--font-size-fine-print);
    line-height: var(--line-height-fine-print);
    padding: var(--tooltip-padding);
    text-transform: none;
    white-space: normal;
    max-width: var(--tooltip-width);
    width: max-content;
    z-index: var(--z-tooltip);
  }

  &::before {
    background: transparent;
    border: calc(var(--tooltip-arrow-width) / 2) solid transparent;
    content: '';
    z-index: calc(var(--z-tooltip) + 1);
  }

  &.tooltip-min::before {
    display: none;
  }

  &:is(:active, :focus-visible) {
    overflow: visible;

    &::before,
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (any-hover: hover) and (pointer: fine) {
    &:hover {
      overflow: visible;
      &::before,
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &:not(.tooltip-right, .tooltip-bottom, .tooltip-left) {
    &::before,
    &::after {
      bottom: 100%;
      left: 50%;
    }

    &::after {
      translate: -50% var(--spacer);
    }

    &::before {
      border-top-color: var(--tooltip-bg);
      margin-inline-start: calc(var(--tooltip-arrow-width) / -2);
      translate: 0 var(--tooltip-arrow-width);
    }

    &:is(:hover, :focus-visible, :active)::before {
      translate: 0;
    }

    &:is(:hover, :focus-visible, :active)::after {
      translate: -50% calc(var(--tooltip-arrow-width) * -1);
    }
  }

  &.tooltip-bottom,
  &.tooltip-left,
  &.tooltip-right {
    &::before,
    &::after {
      left: 50%;
      top: 100%;
    }

    &::before {
      border-bottom-color: var(--tooltip-bg);
      translate: 0 calc(var(--tooltip-arrow-width) * -1);
    }

    &::after {
      translate: -50% calc(var(--spacer) * -1);
    }

    &:is(:hover, :focus-visible, :active)::before {
      translate: 0;
    }

    &:is(:hover, :focus-visible, :active)::after {
      translate: -50% var(--tooltip-arrow-width);
    }
  }

  @media (--tablet) {
    &.tooltip-left {
      &::before,
      &::after {
        left: auto;
        right: 100%;
        top: auto;
      }

      &::before {
        border-bottom-color: transparent;
        border-inline-start-color: var(--tooltip-bg);
        border-top-color: transparent;
        top: calc(50% - calc(var(--tooltip-arrow-width) / 2));
        translate: var(--spacer);
      }

      &::after {
        top: 50%;
        translate: var(--spacer) -50%;
      }

      &:is(:hover, :focus-visible, :active)::after {
        translate: calc(var(--tooltip-arrow-width) * -1) -50%;
      }
    }

    &.tooltip-right {
      &::before,
      &::after {
        left: 100%;
        top: auto;
      }

      &::before {
        border-bottom-color: transparent;
        border-inline-end-color: var(--tooltip-bg);
        border-top-color: transparent;
        top: calc(50% - calc(var(--tooltip-arrow-width) / 2));
        translate: calc(var(--spacer) * -1);
      }

      &::after {
        top: 50%;
        translate: calc(var(--spacer) * -1) -50%;
      }

      &:is(:hover, :focus-visible, :active)::after {
        translate: var(--tooltip-arrow-width) -50%;
      }

      &:is(:hover, :focus-visible, :active) ~ * {
        z-index: -1;
      }
    }
  }
}
