/* -------------------------------------------------------------------------- */
/* #region: GENERAL                                                           */
/* -------------------------------------------------------------------------- */

::selection {
  background-color: var(--color-bg-inverse);
  color: var(--color-text-inverse);
  text-shadow: none;
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: HEADINGS                                                          */
/* -------------------------------------------------------------------------- */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, h6 {
  text-wrap: balance;

  @media (--phone-l) {
    hyphens: manual;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: var(--font-family-titles);
}

.h1, .h2, .h3, .h4 { display: block; }

h1, .h1 {
  @mixin text-format title;

  &:not(header *) {
    margin-bottom: var(--margin-bottom-title, var(--dim-7));
  }
}

h2, .h2 {
  @mixin text-format h2;
  margin-bottom: var(--margin-bottom-h2, var(--rlh));
}

h3, .h3 {
  @mixin text-format h3;
  margin-bottom: var(--margin-bottom-h3, var(--dim-2));
}

h4, .h4, h5, h6 {
  @mixin text-format base;
  font-weight: var(--font-weight-strong, 600);
  margin-bottom: 0;
}

:where(address, blockquote, div, dl, figure, form, ol, p, pre, table, ul)
  + :is(h2, .h2, h3, .h3, h4, .h4, h5, h6) {
  margin-top: var(--margin-top-subhead, var(--dim-6));
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: BODY COPY                                                         */
/* -------------------------------------------------------------------------- */

p, li, dd {
  text-wrap: pretty;
}

:where(p, pre, table) {
  margin-block: 0 var(--rlh);
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition:
    color var(--duration-50) var(--easing-base),
    text-decoration var(--duration-50) var(--easing-base);

  &:active {
    color: var(--color-link-hover);
  }

  &:visited {
    color: var(--color-link-visited);
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-link-hover);
      text-decoration-skip-ink: auto;
      text-decoration: underline;
      text-decoration-thickness: max(0.05em, 1px);
      text-underline-offset: 0.125em;
    }
  }

  /* :focus-visible is set on reset level */
}

b, strong {
  font-weight: var(--font-weight-strong, 600);
}

/* Use this to highlight with color. E.g. `.text-success` */
b[class] { font-weight: inherit; }
em[class] { font-style: inherit; }

small {
  font-size: var(--font-size-fine-print);
  line-height: var(--line-height-fine-print);
}

hr {
  background-color: var(--color-border);
  border: 0;
  height: 1px;
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: LISTS                                                             */
/* -------------------------------------------------------------------------- */

ul,
ol {
  --list-padding: var(--dim-3);
  --list-gap: var(--dim-1);
  --list-indent: var(--dim-2plus);

  list-style-type: none;
  margin-inline: 0;
  margin-block: 0 var(--rlh);
  padding: 0;
}

/* List items */
:is(ul, ol) > li {
  position: relative;

  &:not(:last-child),
  p:not(:last-child) {
    margin-bottom: var(--list-gap);
  }

  p:last-child {
    margin-bottom: 0;
  }
}

/* UL */
ul:not([role='list']) {
  padding-inline-start: var(--list-padding);
}

ul > li::before {
  color: var(--color-brand);
  content: '•';
  line-height: 1;
  text-transform: none;
  position: absolute;
  top: 0.2em;
  left: -20px;
}

/* OL */
ol {
  /* <ol start="9" style="--ol-start: 9"> */
  counter-reset: list-counter var(--ol-start, 0);
}

ol > li {
  padding-inline-start: calc(2ch + var(--dim-1));

  &::before {
    color: var(--color-text-02);
    content: counter(list-counter, decimal) '.';
    counter-increment: list-counter;
    font-variant-numeric: tabular-nums;
    text-align: end;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Nested lists */
li > ul,
li > ol {
  margin-block: var(--list-gap) 0;
  padding-inline-start: var(--list-indent);
}

/* Description list */
dl {
  --grid-columns: 1fr 3fr;

  @media (--phone-l) {
    display: grid;
    gap: var(--dim-1) var(--rlh);
    grid-template-columns: var(--grid-columns);
  }
}

dt {
  font-weight: var(--font-weight-strong, 600);
}

dd {
  margin-left: 0;

  p {
    margin-bottom: var(--dim-1);
  }
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: MEDIA AND EMBEDS                                                  */
/* -------------------------------------------------------------------------- */

img,
svg,
video {
  height: auto;
}

figure {
  margin: 0;
}

figcaption {
  @mixin text-format body-sm;
  color: var(--color-text-02);
  text-align: center;
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: TABLE                                                             */
/* -------------------------------------------------------------------------- */

table {
  --table-border-color: var(--color-border);
  --table-border-width: var(--border-width);
  --cell-height: var(--dim-6);
  --cell-padding-x: var(--dim-2);
  --cell-padding-y: var(--dim-1plus);

  border-collapse: collapse;
  border-spacing: 0;
  font-variant-numeric: lining-nums tabular-nums;
  text-indent: 0;
  width: 100%;
}

thead {
  background-color: var(--color-bg-02);
}

th {
  color: var(--color-text-02);
  font-weight: var(--font-weight-strong, 600);
  text-align: start;
  position: relative;
  vertical-align: bottom;

  thead & {
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);
  }
}

th,
td {
  border-bottom: 1px solid var(--color-border);
  padding-block: calc(var(--cell-padding-y) - 1px) var(--cell-padding-y);
  padding-inline: var(--cell-padding-x);
  min-width: 10ch;

  /* In tables, this behaves like min-height */
  height: var(--cell-height);
}

td, tbody th {
  vertical-align: top;
}

/* #endregion */
