blockquote {
  --quot-size: calc(var(--rlh) * 4);
  --quot-color: var(--color-border);
  --quot-font: Georgia, serif;

  @mixin text-format h3;

  margin: var(--dim-6) 0;
  padding: 0 var(--dim-4);
  position: relative;
  quotes: "\201C""\201D""\2018""\2019";
  text-align: center;
  text-wrap: balance;

  &::before,
  &::after {
    color: var(--quot-color);
    font-family: var(--quot-font);
    font-size: var(--quot-size);
    font-weight: 700;
    hanging-punctuation: none;
    letter-spacing: -10px;
    line-height: 1;
    position: absolute;
  }

  &::before {
    content: open-quote;
    top: 0;
    inset-inline-start: 0;
    transform: translateY(-25%);
  }

  &::after {
    content: close-quote;
    bottom: 0;
    inset-inline-end: 0;
    transform: translateY(75%);
  }

  @media (--phone-l) {
    padding-inline: var(--dim-6);

    &::before {
      transform: none;
    }

    &::after {
      inset-inline-end: var(--dim-1);
      transform: translateY(40%);
    }
  }
}
