@scope (.hero) {

  /* ------------------------------------------------------------------------ */
  /* #region: BASE                                                            */
  /* ------------------------------------------------------------------------ */

  :scope {
    --hero-image-flex: 1 1 100%;
    --hero-content-flex: 1 1 100%;
    --hero-gap: var(--dim-4);
    --hero-justify: center;
    --hero-padding-block: var(--dim-4);
    --button-height: var(--dim-7);
    --hero-circle-radius: 216px;
    --hero-circle-x: 25%;
    --hero-circle-y: 50%;
    --hero-circle-fill: var(--color-fill);
    --hero-circle-feather: 1px;

    background-color: var(--color-bg-02);
    background-image:
      radial-gradient(
        circle var(--hero-circle-radius) at var(--hero-circle-x) var(--hero-circle-y),
        var(--hero-circle-fill) 0 calc(var(--hero-circle-radius) - var(--hero-circle-feather)),
        transparent var(--hero-circle-radius)
      );
    min-height: 100vh;
    min-height: 100dvh;
  }

  @media (--tablet) {
    :scope {
      --hero-image-flex: 1 1 calc(33.33% - var(--hero-gap) / 2);
      --hero-content-flex: 1 1 calc(66.66% - var(--hero-gap) / 2);
      --hero-gap: var(--dim-4);
      --hero-padding-block: var(--dim-4);
    }
  }

  @media (--desktop) {
    :scope {
      --hero-gap: var(--dim-5);
      --hero-padding-block: var(--dim-5);
    }
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: LAYOUT                                                          */
  /* ------------------------------------------------------------------------ */

  .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--hero-gap);
    justify-content: var(--hero-justify);
    min-height: 100vh;
    min-height: 100dvh;
    padding-block: var(--hero-padding-block);
  }

  .hero-image {
    flex: var(--hero-image-flex);
    margin-bottom: 0;
  }

  .hero-image img {
    display: block;
    height: auto;
    max-width: 100%;
    position: relative;
    z-index: 1;
  }

  @media (--phone) {
    .hero-image {
      order: -1;
    }
  }

  .hero-content {
    flex: var(--hero-content-flex);
  }

  .grid {
    --grid-gap: var(--dim-1plus);
  }

  @media (--tablet-l) {
    .btn {
      --button-height: var(--dim-7);
    }
  }

  .btn-primary {
    --l-brand-start: 15%;
    --l-brand-end: 25%;
  }

  .btn-secondary:hover {
    --button-bg-hover: var(--color-fill);
    box-shadow:
      inset 0 0 0 1px var(--color-border),
      inset 0 0 2px rgb(255 255 255),
      inset 0 0 4px 2px rgb(255 255 255 / 0.64),
      inset 0 0 16px 2px rgb(255 255 255 / 0.48);
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: TYPOGRAPHY                                                      */
  /* ------------------------------------------------------------------------ */

  h1 {
    --margin-bottom-title: var(--dim-2);
    @mixin text-format hero;

    font-weight: var(--font-weight-hero);
    text-transform: uppercase;
  }

  p {
    @mixin text-format h3;

    font-family: var(--font-family-titles);
    margin-bottom: var(--dim-4);
  }

  /* #endregion */
}
