:root {

  /* font size for root */
  --fsr: 1rem;

  /* Body copy text font size */
  --fs: 106.25%;

  /* Line-height */
  --rlh: 1.6471rem;

  /* Type scale */
  --ts: 1.2;

  @media screen and (width >= 764px) {
    --fs: 112.5%;
    --rlh: 1.6667rem;
  }
}

html {
  font-size: var(--fs);
  scroll-padding-top: var(--rlh);
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: InterVariable, -apple-system, BlinkMacSystemFont, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
  font-size: var(--fsr);
  font-weight: 400;
  line-height: var(--rlh);
}

h1 {
  font-size: calc(var(--fsr) * var(--ts) * var(--ts) * var(--ts));
  line-height: calc(var(--rlh) * 1.5);
}

h2 {
  font-size: calc(var(--fsr) * var(--ts) * var(--ts));
}

h3 {
  font-size: calc(var(--fsr) * var(--ts));
}

h4,
h5,
h6 {
  font-size: var(--fs);
}

sup,
small {
  font-size: calc(var(--fsr) / var(--ts));
}

sup {
  vertical-align: bottom;
  position: relative;
  top: calc(var(--rlh) / -4);
}

.btn {
  font-size: inherit;
}

.btn-small {
  font-size: calc(var(--fsr) / var(--ts));
}

/* Padding'и и margin'ы – все высчитываются на базе (--rlh) */
.header {
  padding-block: calc(var(--rlh) * 2);
}
