/* -------------------------------------------------------------------------- */
/* #region: SPACING                                                           */
/* -------------------------------------------------------------------------- */

.mt-0 { margin-top: 0; }
.mt-1 { margin-top: var(--dim-1); }
.mt-2 { margin-top: var(--dim-2); }
.mt-1lh { margin-top: var(--lh); }
.mt-2lh { margin-top: var(--dim-6); }
.mt-3lh { margin-top: calc(var(--lh) * 3); }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: var(--dim-1); }
.mb-2 { margin-bottom: var(--dim-2); }
.mb-lh { margin-bottom: var(--lh); }
.mb-2lh { margin-bottom: var(--dim-6); }

.mx-auto { margin-inline: auto; }

.pt-half-max { padding-top: var(--spacer-half-max); }
.pb-half-max { padding-bottom: var(--spacer-half-max); }
.py-half-max { padding-block: var(--spacer-half-max); }

.pt-max { padding-top: var(--spacer-max); }
.pb-max { padding-bottom: var(--spacer-max); }

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: DISPLAY                                                           */
/* -------------------------------------------------------------------------- */

.d-none { display: none; }
.d-block { display: block; }
.d-flex { display: flex; }

@media (--phone-l) {
  .phone-l\:d-none { display: none; }
  .phone-l\:d-inline { display: inline; }
}

@media (--tablet) {
  .tablet\:d-none { display: none; }
  .tablet\:d-inline { display: inline; }
  .tablet\:d-flex { display: flex; }
  .tablet\:d-block { display: block; }
}

@media (--tablet-l) {
  .tablet-l\:d-none { display: none; }
  .tablet-l\:d-block { display: block; }
  .tablet-l\:d-inline { display: inline; }
}

@media (--laptop) {
  .laptop\:d-none { display: none; }
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: TYPOGRAPHY                                                        */
/* -------------------------------------------------------------------------- */

.font-light { font-weight: 300; }
.nobr { white-space: nowrap; }
.text-02 { color: var(--color-text-02); }
.text-02-info { color: var(--color-text-02-info); }
.text-info { color: var(--color-text-info); }
.text-success { color: var(--color-text-success); }
.text-error { color: var(--color-text-error); }
.text-center { text-align: center; }

.text-start { text-align: start; }
.text-end { text-align: end; }
.vertical-middle { vertical-align: middle; }

.text-sm {
  @mixin text-format body-sm;
}

.text-xs {
  @mixin text-format fine-print;
}

.text-uppercase {
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.text-gradient {
  --text-gradient: linear-gradient(to bottom right, var(--color-text), var(--color-text-02) 50%);
  background-clip: text;
  background-image: var(--text-gradient);
  background-repeat: no-repeat;
  background-size: 100%;
  color: transparent;
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: MISC                                                              */
/* -------------------------------------------------------------------------- */

.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Flexbox & Grid */
.items-center { align-items: center;}
.grid-cols-fr-auto { grid-template-columns: 1fr auto; }
.flex-col { flex-direction: column;}
.flex-wrap { flex-wrap: wrap; }
.justify-items-center { justify-items: center; }

.gap-1 { gap: var(--dim-1);}
.gap-2 { gap: var(--dim-2); }
.gap-lh { gap: var(--lh); }

/* Width */
.w-100 { width: 100%; }
.w-1\/2 { width: calc((100% - var(--gap, 0)) / 2); }
.w-1\/3 { width: calc((100% - 2 * var(--gap, 0)) / 3); }
.w-2\/3 { width: calc(((100% - 2 * var(--gap, 0)) / 3) * 2 + var(--gap, 0)); }
.w-fit { width: fit-content; }
.max-w-xl { max-width: var(--width-xl); }

/* FULL BLEED SECTION
  .container child section expanded on to 100% screen width. */
.width-full-bleed {
  --fb-gap: var(--gap-base);

  /* 10 columns out of 12 */
  --fb-max-width: calc((100% - (11 * var(--gap))) / 12 * 10 + (9 * var(--gap)));

  text-align: center;
  position: relative;
  margin-inline:
    calc(50% - 50vw + var(--sidenav-area, 0px))
    calc(50% - 50vw);
  width: calc(100vw - var(--sidenav-area, 0px));

  & > img,
  & > table,
  & > .media-border,
  & > .scroll-x {
    margin-inline: auto;
    max-width: var(--fb-max-width);
  }
}

/* #endregion */
