/* -------------------------------------------------------------------------- */
/* #region: BASE                                                              */
/* -------------------------------------------------------------------------- */

@scope (.progress-spinner) {
  :scope {
    --spinner-size: var(--lh);
    --spinner-stroke: var(--dim-0p5);
    --spinner-dur: 1s;
    --spinner-primary: var(--color-brand);
    --spinner-accent: var(--color-success);
    --spinner-blend: darken;

    aspect-ratio: 1;
    box-sizing: border-box;
    display: grid;
    margin: auto;
    width: var(--spinner-size);
  }

  &::before,
  &::after {
    animation: spinner var(--spinner-dur) linear infinite;
    border: var(--spinner-stroke) solid transparent;
    border-radius: 50%;
    content: '';
    grid-area: 1 / 1;
    mix-blend-mode: var(--spinner-blend);
  }

  &::before {
    border-right-color: var(--spinner-primary);
    border-top-color: var(--spinner-primary);
  }

  &::after {
    animation-direction: reverse;
    border-bottom-color: var(--spinner-accent);
    border-left-color: var(--spinner-accent);
  }

  :root[data-theme='dark'] :scope {
    --spinner-blend: lighten;
  }

  @media (prefers-color-scheme: dark) {
    :scope {
      --spinner-blend: lighten;
    }
  }
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: INLINE                                                            */
/* -------------------------------------------------------------------------- */

/* TODO: сделать svg-анимацию аналогичной анимации базового спинера */
.progress-inline::after {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' height='24' width='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' %3E%3Cstyle%3E g %7B animation: rotate 2s linear infinite; transform-origin: center center; %7D circle %7B stroke-dasharray: 75,100; stroke-dashoffset: -5; animation: dash 1.5s ease-in-out infinite; stroke-linecap: round; %7D @keyframes rotate %7B 0%25 %7B transform: rotate(0deg); %7D 100%25 %7B transform: rotate(360deg); %7D %7D @keyframes dash %7B 0%25 %7B stroke-dasharray: 1,100; stroke-dashoffset: 0; %7D 50%25 %7B stroke-dasharray: 44.5,100; stroke-dashoffset: -17.5; %7D 100%25 %7B stroke-dasharray: 44.5,100; stroke-dashoffset: -62; %7D %7D %3C/style%3E%3Cg%3E%3Ccircle cx='12' cy='12' r='10' fill='none' stroke='rgb(136, 145, 164)' stroke-width='4' /%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1em auto;
  content: '';
  display: inline-block;
  margin-inline-start: var(--dim-0p5);
  vertical-align: -2px;
  width: 1em;
  height: 1em;
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: ANIMATION                                                         */
/* -------------------------------------------------------------------------- */

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}

/* #endregion */
