@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter-VariableFont_slnt,wght.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter-VariableFont_slnt,wghtItalic.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
