/* stylelint-disable custom-property-pattern */

/**
 * Text formatting mixin
 * Using: .title { @mixin text-format base; }
 */
@define-mixin text-format $level {
  font-size: var(--font-size-$(level));
  font-weight: var(--font-weight-$(level), 400);
  letter-spacing: var(--letter-spacing-$(level), normal);
  line-height: var(--line-height-$(level));
}

@define-mixin text-format-padding $level {
  padding-block:
    var(--padding-top-$(level), 0)
    var(--padding-bottom-$(level), 0);
}

/* Text truncation */
@define-mixin text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/**
 * Multi-line text truncation
 *
 * Using:
 * .title   { @mixin line-clamp; }
 * .desc    { @mixin line-clamp 3; }
 * .heading { @mixin line-clamp var(--rows); }
 */
/* stylelint-disable-next-line length-zero-no-unit */
@define-mixin line-clamp $rows: 2, $lh: 1.5 {
  --rows: $(rows);
  --lh: $(lh);

  /* Fallback w/o lh */
  --height: calc(var(--rows) * var(--spacer) * 1em);

  /* Modern solution w/ lh */
  @supports (height: 1lh) {
    /* stylelint-disable-next-line no-invalid-position-declaration */
    --height: calc(var(--rows) * 1lh);
  }

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--rows);
  line-clamp: var(--rows);
  overflow: hidden;
  height: var(--height);
}

/* Focus state */
@define-mixin state-focus {
  outline: var(--focus-outline, 0.125rem) solid var(--color-focus, AccentColor, -webkit-focus-ring-color);
  outline-offset: var(--focus-offset, 0);
}
