@define-mixin dark {
  color-scheme: dark;

  /* ------------------------------------------------------------------------ */
  /* #region: BRAND                                                           */
  /* ------------------------------------------------------------------------ */

  --color-bg-brand: hsl(var(--h) var(--s-03) 25%);
  --color-text-brand: hsl(var(--h) var(--s) 70%);
  --color-text-02-brand: hsl(var(--h) var(--s) 55%);
  --color-border-brand: hsl(var(--h) var(--s) 32%);
  --l-brand-start: 44%;
  --l-brand-end: 54%;

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: BACKGROUNDS                                                     */
  /* ------------------------------------------------------------------------ */

  --color-bg: hsl(var(--h) var(--s-min) 14%);
  --color-bg-02: var(--color-bg-z3);
  --color-bg-z1: hsl(var(--h) var(--s-min) 18%);
  --color-bg-z2: hsl(var(--h) var(--s-min) 21%);
  --color-bg-z3: hsl(var(--h) var(--s-min) 24%);
  --color-bg-inverse: hsl(var(--h) var(--s-min) 96%);
  --color-fill: hsl(var(--h) var(--s-min) 99% / 0.04);
  --color-backdrop: hsl(var(--h) var(--s-min) 10% / 0.35);

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: INKS                                                            */
  /* ------------------------------------------------------------------------ */

  --color-text: hsl(var(--h) var(--s-min) 99% / 0.87);
  --color-text-02: hsl(var(--h) var(--s-min) 99% / 0.6);
  --color-text-03: hsl(var(--h) var(--s-min) 99% / 0.38);
  --color-icon: var(--color-text-03);
  --color-border-bold: hsl(var(--h) var(--s-min) 99% / 0.12);
  --color-border: hsl(var(--h) var(--s-min) 99% / 0.08);
  --color-link: hsl(var(--h-blue) var(--s-02) 70%);
  --color-link-hover: color-mix(in oklch, var(--color-link) 90%, #fff);
  --color-link-visited: color-mix(in oklch, var(--color-link) 85%, #000);
  --color-code: hsl(var(--h-purple) var(--s-02) 70%);

  --color-text-inverse: hsl(var(--h) var(--s-min) 14%);
  --color-text-02-inverse: hsl(var(--h) var(--s-min) 47%);
  --color-text-03-inverse: hsl(var(--h) var(--s-min) 62%);
  --color-icon-inverse: var(--color-text-03-inverse);
  --color-border-inverse: hsl(var(--color-shadow) / 0.08);

  --color-text-neutral: hsl(0 0% 100% / 0.87);
  --color-text-02-neutral: hsl(0 0% 100% / 0.6);
  --color-text-03-neutral: hsl(0 0% 100% / 0.38);
  --color-border-neutral: hsl(0 0% 100% / 0.08);

  --color-focus: color-mix(in oklch, var(--color-brand) 50%, transparent);

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: FEEDBACK                                                        */
  /* ------------------------------------------------------------------------ */

  --color-info: hsl(var(--h-blue) var(--s-02) 64%);
  --color-bg-info: hsl(var(--h-blue) var(--s-min) 25%);
  --color-text-info: hsl(var(--h-blue) var(--s-02) 70%);
  --color-text-02-info: hsl(var(--h-blue) var(--s-02) 55%);

  --color-error: hsl(var(--h-red) var(--s-02) 64%);
  --color-bg-error: hsl(var(--h-red) var(--s-min) 27%);
  --color-text-error: hsl(var(--h-red) var(--s-02) 76%);
  --color-text-02-error: hsl(var(--h-red) var(--s-02) 61%);

  --color-warning: hsl(var(--h-yellow) var(--s-02) 52%);
  --color-bg-warning: hsl(var(--h-yellow) var(--s-min) 21%);
  --color-text-warning: hsl(var(--h-yellow) var(--s-02) 35%);
  --color-text-02-warning: hsl(var(--h-yellow) var(--s-02) 28%);

  --color-success: hsl(var(--h-green) var(--s-02) 48%);
  --color-bg-success: hsl(var(--h-green) var(--s-min) 23%);
  --color-text-success: hsl(var(--h-green) var(--s-02) 39%);
  --color-text-02-success: hsl(var(--h-green) var(--s-02) 32%);

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: ICONS                                                           */
  /* ------------------------------------------------------------------------ */

  --icon-calendar: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16%203V7M8%203V7M4%2011H20M11%2015H12V18M6%205H18C19.1046%205%2020%205.89543%2020%207V19C20%2020.1046%2019.1046%2021%2018%2021H6C4.89543%2021%204%2020.1046%204%2019V7C4%205.89543%204.89543%205%206%205Z%22%20stroke%3D%22fff%22%20stroke-opacity%3D%220.38%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
  --icon-chevron-down: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M6%208L10%2012L14%208%22%20stroke%3D%22%23fff%22%20stroke-opacity%3D%220.38%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
  --icon-remove: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7.87868%207.87868L10%2010M10%2010L12.1213%2012.1213M10%2010L7.87868%2012.1213M10%2010L12.1213%207.87868M17%2010C17%2013.866%2013.866%2017%2010%2017C6.13401%2017%203%2013.866%203%2010C3%206.13401%206.13401%203%2010%203C13.866%203%2017%206.13401%2017%2010Z%22%20stroke%3D%22white%22%20stroke-opacity%3D%220.38%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E%0A');

  /* #endregion */
}

@media (prefers-color-scheme: dark) {
  :root:where(:not([data-theme])) {
    @mixin dark;
  }
}

[data-theme='dark'] {
  @mixin dark;
}

/* #endregion */
