[data-theme='light'],
:root:not([data-theme='dark']) {

  /* ------------------------------------------------------------------------ */
  /* #region: BRAND                                                           */
  /* ------------------------------------------------------------------------ */

  --color-bg-brand: hsl(var(--h) var(--s) 96%);
  --color-text-brand: hsl(var(--h) var(--s) 20%);
  --color-text-02-brand: hsl(var(--h) var(--s) 55%);
  --color-border-brand: hsl(var(--h) var(--s) 93%);

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: BACKGROUNDS                                                     */
  /* ------------------------------------------------------------------------ */

  --color-bg: hsl(var(--h) var(--s-min) 99%);
  --color-bg-02: hsl(var(--h) var(--s-min) 97%);
  --color-bg-z1: hsl(from var(--color-bg) h s l / 0.88);
  --color-bg-z2: var(--color-bg-z1);
  --color-bg-z3: var(--color-bg-z1);
  --color-bg-inverse: hsl(var(--h) var(--s-min) 24%);
  --color-fill: hsl(var(--h) var(--s-min) 10% / 0.03);
  --color-backdrop: hsl(var(--h) var(--s-min) 10% / 0.5);

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: INKS                                                            */
  /* ------------------------------------------------------------------------ */

  --color-text: hsl(var(--h) var(--s-min) 14%);
  --color-text-02: hsl(var(--h) var(--s-min) 47%);
  --color-text-03: hsl(var(--h) var(--s-min) 62%);
  --color-icon: var(--color-text-03);
  --color-border-bold: hsl(var(--color-shadow) / 0.12);
  --color-border: hsl(var(--color-shadow) / 0.08);
  --color-link: hsl(var(--h-blue) var(--s) 35%);
  --color-link-hover: color-mix(in oklch, var(--color-link) 85%, #fff);
  --color-link-visited: color-mix(in oklch, var(--color-link) 90%, #000);
  --color-code: hsl(var(--h-blue) var(--s-02) 35%);

  --color-text-inverse: hsl(var(--h) var(--s-min) 99% / 0.87);
  --color-text-02-inverse: hsl(var(--h) var(--s-min) 99% / 0.6);
  --color-text-03-inverse: hsl(var(--h) var(--s-min) 99% / 0.38);
  --color-icon-inverse: var(--color-text-03-inverse);
  --color-border-inverse: hsl(var(--h) var(--s-min) 99% / 0.08);

  --color-text-neutral: hsl(0 0% 0% / 0.87);
  --color-text-02-neutral: hsl(0 0% 0% / 0.6);
  --color-text-03-neutral: hsl(0 0% 0% / 0.38);
  --color-border-neutral: hsl(0 0% 0% / 0.08);

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: FEEDBACK                                                        */
  /* ------------------------------------------------------------------------ */

  --color-info: hsl(var(--h-blue) var(--s) 66%);
  --color-bg-info: hsl(var(--h-blue) var(--s) 92%);
  --color-text-info: hsl(var(--h-blue) var(--s) 41%);
  --color-text-02-info: hsl(var(--h-blue) var(--s) 52%);

  --color-error: hsl(var(--h-red) var(--s) 73%);
  --color-bg-error: hsl(var(--h-red) var(--s) 94%);
  --color-text-error: hsl(var(--h-red) var(--s) 44%);
  --color-text-02-error: hsl(var(--h-red) var(--s) 60%);

  --color-warning: hsl(var(--h-yellow) var(--s) 46%);
  --color-bg-warning: hsl(var(--h-yellow) var(--s) 54%);
  --color-text-warning: hsl(var(--h-yellow) var(--s) 22%);
  --color-text-02-warning: hsl(var(--h-yellow) var(--s) 29%);

  --color-success: hsl(var(--h-green) var(--s) 39%);
  --color-bg-success: hsl(var(--h-green) var(--s) 83%);
  --color-text-success: hsl(var(--h-green) var(--s) 25%);
  --color-text-02-success: hsl(var(--h-green) var(--s) 32%);

  --color-focus: color-mix(in oklch, var(--color-brand) 55%, transparent);

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: ICONS                                                           */
  /* ------------------------------------------------------------------------ */

  --icon-chevron-down: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M6%208L10%2012L14%208%22%20stroke%3D%22black%22%20stroke-opacity%3D%220.38%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E%0A');
  --icon-remove: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7.87868%207.87868L10%2010M10%2010L12.1213%2012.1213M10%2010L7.87868%2012.1213M10%2010L12.1213%207.87868M17%2010C17%2013.866%2013.866%2017%2010%2017C6.13401%2017%203%2013.866%203%2010C3%206.13401%206.13401%203%2010%203C13.866%203%2017%206.13401%2017%2010Z%22%20stroke%3D%22black%22%20stroke-opacity%3D%220.38%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E%0A');

  /* #endregion */
}
