/* -------------------------------------------------------------------------- */
/* #region: BASE                                                              */
/* -------------------------------------------------------------------------- */

@scope (.header) {
  :scope {
    --header-bg: var(--color-bg-02);
    --header-position: fixed;
    --header-top: 0;
    --header-start: 0;
    --header-end: 0;

    --header-padding-top: 0;
    --header-padding-bottom: 0;
    --header-padding-start: var(--dim-2p5);
    --header-padding-end: var(--dim-2p5);

    --header-translate-y: -100%;
    --header-transition-duration: var(--duration-200);
    --header-nav-offset: 6rem;
    --header-overlay-bg: color-mix(in oklch, var(--color-bg-02) 80%, transparent);
    --header-overlay-filter: var(--backdrop-glass);

    background-color: var(--header-bg);
    padding-block: var(--header-padding-top) var(--header-padding-bottom);
    padding-inline: var(--header-padding-start) var(--header-padding-end);
    position: var(--header-position);
    top: var(--header-top);
    inset-inline: var(--header-start) var(--header-end);
    z-index: var(--z-fixed);
  }

  :scope:not(:has(.topnav)) {
    translate: 0 var(--header-translate-y);
    transition: translate var(--header-transition-duration) var(--easing-base);
  }

  :scope::after {
    content: none;
  }

  > .container {
    align-items: center;
    display: flex;
    gap: 0;
    justify-content: space-between;
  }
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: MODIFIERS                                                         */
/* -------------------------------------------------------------------------- */

@scope (.header) {
  :scope:is(.header-open) {
    --header-translate-y: 0;
  }

  @media (--phone) {
    :scope:is(.header-open)::after {
      background-color: var(--header-overlay-bg);
      backdrop-filter: var(--header-overlay-filter);
      content: '';
      height: 100vh;
      top: 100%;
      inset-inline-start: 0;
      pointer-events: none;
      position: fixed;
      width: 100%;
      z-index: -1;
    }
  }
}

/* #endregion */
