@scope (.header) {
  :scope {
    --header-bg: color-mix(in oklch, var(--color-bg-02) 80%, transparent);
    --header-bg-filter: var(--backdrop-glass);

    --header-position: static;
    --header-padding-top: 0;
    --header-padding-bottom: 0;
    --header-padding-start: var(--dim-2plus);
    --header-padding-end: var(--dim-2plus);
    --header-width: 100%;

    padding-block: var(--header-padding-top) var(--header-padding-bottom);
    padding-inline: var(--header-padding-start) var(--header-padding-end);
    position: var(--header-position);
    width: var(--header-width);
    z-index: var(--z-fixed);

    @media (--tablet) {
      --header-padding-top: var(--dim-4);
      --header-padding-bottom: var(--dim-3);
    }

    @media (--tablet-l) {
      --header-padding-end: 0;
      --header-padding-start: 0;

      background-color: var(--header-bg);
      backdrop-filter: var(--header-bg-filter);
    }
  }

  :scope.header-search {
    --header-bg: transparent;
    --header-bg-filter: none;
  }

  :scope > .container {
    display: flex;
    align-items: center;
    gap: var(--gap);
    justify-content: space-between;
  }
}

/* #endregion */
